<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.wecash.dingyabin.dao.AddServiceDao">


    <insert id="saveService" parameterType="java.util.Map" >
        INSERT INTO services (
            service_name,
            service_type,
            service_state,
            service_description,
            create_time,
            update_time,
            max_auth_count,
            fields
          )
    VALUES
        (
            #{serviceName,jdbcType=VARCHAR},
            #{serviceType,jdbcType=VARCHAR},
            'normal',
            #{serviceDescription,jdbcType=VARCHAR},
            now(),
            now(),
            '10',
            '0'
        );
    </insert>

    <insert id="saveServiceDataFormat" parameterType="java.util.Map" >
        INSERT INTO  service_data_format (
            service_type,
            data_format_type,
            state,
            create_time,
            service_format_type,
            request_id,
            allow_callback,
            allow_paint,
            allow_diy_protocol,
            allow_diy_css,
            default_css,
            service_name,
            data_format_property,
            data_format_name,
            service_format_name,
            data_property_name,
            data_format_is_show,
            data_format_combination_ids
        )
        VALUES
            (
                #{serviceType,jdbcType=VARCHAR},
                'origin',
                'normal',
                 now(),
                #{serviceFormatType,jdbcType=VARCHAR},
                #{requestId,jdbcType=BIGINT},
                true,
                true,
                true,
                false,
                '/**/',
                 #{serviceName,jdbcType=VARCHAR},
                'basic',
                '原始数据',
                '接口授权',
                 #{serviceName,jdbcType=VARCHAR},
                't',
                '1'
            );
    </insert>



    <insert id="saveRequest" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="requestId" keyColumn="id">
        INSERT INTO request
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requestId != null">
                id,
            </if>
            url,
            method,
            charset,
            timeout,
            gzip,
            accept_stat_code,
            header,
            params,
            create_time,
            update_time,
            result_parse_template
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requestId != null">
                #{requestId,jdbcType=BIGINT},
            </if>
            #{url,jdbcType=VARCHAR},
            #{method,jdbcType=VARCHAR},
            'UTF-8',
            '10000',
            false,
            '200',
            #{header,jdbcType=VARCHAR},
            #{params,jdbcType=VARCHAR},
            now(),
            now(),
            #{resultParseTemplate,jdbcType=VARCHAR}
        </trim>
    </insert>


    <insert id="saveCodeDict" parameterType="java.util.List">
        INSERT INTO code_dict (
            `key`,
            code_type,
            code,
            message,
            success,
            create_time,
            update_time,
            can_retry
           )
        VALUES
        <foreach collection="list" item="record" separator=",">
              (
                #{record.key,jdbcType=VARCHAR},
                #{record.codeType,jdbcType=VARCHAR},
                #{record.code,jdbcType=VARCHAR},
                #{record.message,jdbcType=VARCHAR},
                #{record.success,jdbcType=BIT},
                now(),
                now(),
                true
              )
        </foreach>
    </insert>

    <select id ="selectByServiceType"  resultType="java.util.Map">
        select * from  services  where service_type = #{serviceType}
    </select>

    <select id ="selectByRequestId"    resultType="java.util.Map">
        select * from  request  where id = #{requestId}
    </select>

    <select id ="selectClientService"  resultType="java.util.Map">
        select * from  client_service  where source = #{source} and service_type=#{serviceType} and state = 'normal'
    </select>

    <update id="" >
        update request
        <set>
        <if test="">

        </if>



        </set>
        where id = #{requestId}
    </update>
</mapper>